html {
	font-size: 50%;
	overflow-x: hidden;
}

html::-webkit-scrollbar {
	cursor: pointer;
	width: 1rem;
}

html::-webkit-scrollbar-track {
	background: #000000;
}

html::-webkit-scrollbar-thumb {
	background: #515151;
}

*::selection {
	background: #fff;
	color: #000FFF;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

img {
	vertical-align: top;
}


button {
  outline: none !important;
}

a {
  outline: none;
  text-decoration: none !important;
}

img {
  width: 100%;
  height: 100%;
}

header.index {
  background: #0000005d;
  background-size: cover;
  background-image: url(../img/img4.jpg);
  background-blend-mode: overlay;
  height: 100vh;
  background-attachment: fixed;
  -webkit-backdrop-size: cover;
}

/* !==================================== */
nav {
  display: flex;
  align-items: center;
}

.ui-menu {
  padding-top: 20px;
  border: 0;
  position: fixed;
  z-index: 1000000;
  background: transparent;
}

.ui-menu-item {
  width: 100%;
  max-width: 220px;
  position: relative;
  font-family: sans-serif;
  font-weight: 600 !important;
  border-radius: 0 !important;
  background-color: #ffffffd5;
}

.ui-widget.ui-widget-content {
  border: none !important;
}

.white {
  color: white;
}

.navbar-my-color {
  backdrop-filter: blur(1rem);
  box-shadow: 0 -5px 30px #000;
}

.my-icon {
  width: 35px;
  border-radius: 50%;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s height;
}

.my-input::-webkit-input-placeholder {
  color: #ededed;
}

.my-input:focus::-webkit-input-placeholder {
  color: #ccc;
}

/* Icon 1 */

.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


.animated-icon3 span {
  outline: none;
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}


.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

/* !=============================================== */

.home_header_body {
  background-color: #0a0a0a50;
}

.home_header_body_card_text {
  color: white;
  max-width: 600px;
  margin: 0 5%;
}

.home_header_body_card {
  width: 100%;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
}

.preload-image {
  overflow: hidden;
  background-image:
    url(../img/sky1.jpg),
    url(../img/sky2.jpg),
    url(../img/sky3.jpg);
  transition: .4s;

}

.bg-default {
  width: 100%;
  height: 100vh;
  background: url(../img/sky1.jpg) no-repeat center center;
  -webkit-backdrop-size: cover;
  background-size: cover;
  background-position: center center;
  transition: .4s;
}

.bg-next {
  width: 100%;
  height: 100vh;
  background: url(../img/sky2.jpg) no-repeat center center;
  -webkit-backdrop-size: cover;
  background-size: cover;
  background-position: center center;
  transition: .4s;
}

.bg-preview {
  width: 100%;
  height: 100vh;
  background: url(../img/sky3.jpg) no-repeat center center;
  -webkit-backdrop-size: cover;
  background-size: cover;
  background-position: center center;
  transition: .4s;
}

.header_btn {
  color: #ffffff;
  cursor: pointer;
  transition: .3s;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  padding: 5px 35px;
  border: 1px solid #00000000;
  background-color: #000000c2;
  box-shadow: 0 0 15px #000000;
}

.header_btn:hover {
  color: #000;
  border: 1px solid #00000000;
  box-shadow: 0 0 15px #ffffff;
  background-color: #ffffffc2;
}

.LockOn {
  z-index: 1;
  width: 100%;
  height: 100vh;
  opacity: 0.70;
  position: absolute;
  background-color: #000000;
  background-image: url(../img/loading.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.fixed-top.scrolled {
  transition: background-color 200ms linear;
  background-color: #00000099 !important;
  /* box-shadow: 0 0 40px #00043499 !important; */
}

.scroll_a {
  color: #ffffff !important;
}

.scroll_a:hover {
  color: #FFF000 !important;
}

.custom_search {
  color: white !important;
  border: 2px solid #000;
  background-color: #00000060;
}

.custom_search:focus {
  background-color: #00000060;
}

.custom_btn {
  color: white;
  font-weight: 600;
  border: 2px solid #000;
  background-color: #00000060;
}

.custom_btn:hover {
  color: #fff;
  background-color: #000;
}

.fixed-top.scrolled .custom_search {
  color: #f1f1ff !important;
  border: 2px solid #f1f1ff !important;
}

.fixed-top.scrolled .custom_btn {
  color: #ffffff !important;
  border: 2px solid #f1f1ff !important;
}

.fixed-top.scrolled .custom_btn:hover {
  color: white !important;
  background-color: #0F75BC !important;
}

.fadedfx {
  background-color: #fe5652;
  visibility: hidden;
}

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0.0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.0;
  }

  100% {
    opacity: 1;
  }
}

/* ! gallery============== */
/* ! gallery============== */
/* ! gallery============== */
.container_galery {
  margin: 0;
  padding: 0;
  position: relative;
  background: #868686;
  font-family: sans-serif;
}

.image_gallery {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  grid-gap: 2px;
}

.image_gallery .image_box {
  position: relative;
  background-color: #d7d7d8;
  overflow: hidden;
}

.image_gallery .image_box:nth-child(7n+1) {
  grid-column: span 2;
  grid-row: span 2;
}

.image_gallery .image_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .5s ease;
}

.image_gallery .image_box:hover img {
  transform: scale(1.1);
}

.image_box {
  cursor: pointer;
}

.image_box .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all .5s ease;
  z-index: 1;
}

.image_gallery .image_box:hover .overlay {
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  opacity: 1;
}

.image_gallery .image_box .details {
  text-align: center;
}

.image_box .details .title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  top: -10px;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease;
}

.image_box .details .category {
  font-size: 18px;
  font-weight: 400;
  bottom: -10px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease;
}

.image_gallery .image_box:hover .details .title {
  top: 0;
  opacity: 1;
  visibility: visible;
  transition: all .3s .2s ease;
}

.image_gallery .image_box:hover .details .category {
  bottom: 0;
  opacity: 1;
  visibility: visible;
  transition: all .3s .2s ease;
}

.title a {
  color: #fff;
  text-decoration: none;
}

.title a:hover {
  color: #5F2B08;
  text-decoration: underline !important;
}

.category {
  color: #fff !important;
  text-decoration: none;
}

@media(max-width:768px) {
  .image_gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
  }

  .image_gallery .image_box:nth-child(7n+1) {
    grid-column: unset;
    grid-row: unset;
    color: rgba(0, 0, 0, 0.726);
  }
}

/* ! gallery============== */
/* ! gallery============== */
/* ! gallery============== */
.card_footer {
  justify-content: space-between;
}

a.card_link {
  color: silver;
  text-decoration: none;
}

.fi {
  margin-right: 0px 5px;
  font-size: 20px;
  vertical-align: middle;
}

.fi-sr-shopping-cart:hover {
  color: #fffb00 !important;
}

.fi-sr-heart:hover {
  color: #cc0000 !important;
}

.fi-sr-bookmark:hover {
  color: black !important;
}

.card_small {
  font-family: monospace;
}

.card_main {
  overflow: hidden;
}

.images_images {
  cursor: pointer;
  filter: brightness(1);
  transition: .4s;
}

.images_images:hover {
  transform: scale(1.1);
  filter: brightness(0.6);
}

.my_top_btn:nth-child(1) a {
  color: limegreen;
}

.my_top_btn:nth-child(2) a {
  color: red;
}

.my_top_btn:hover a {
  color: white;
}

.my_carousel_img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* ! footer =================== */
footer .btn {
	background: none;
}

footer .btn>a {
	padding: 10px 20px;
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
	border-radius: 18px;
	font-family: sans-serif;
	box-shadow: 5px 5px 10px #2ee1f1cc;
	background-image: linear-gradient(to left, #2ee1f1, #26ff00, #2ee1f1);
	background-size: 200%;
	transition: .6s;
}

footer .btn>a:hover {
	color: #fff;
	background-position: right;
	box-shadow: none;
}
footer {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: linear-gradient(to right, #000f63, #000fff);
}

footer ul, li {
  list-style: none;
}

.bottom__text {
  display: flex;
  flex-direction: column;
}

.bottom__logo {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 35px;
  cursor: pointer;
  color: #26ff00;
}

.bottom__logo>span {
  color: white;
}

.bottom__box {
  width: 360px;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
}

.bottom__icon {
  padding: 6px 10px 8px 10px;
  margin: 0;
  height: 40px;
  color: white;
  font-size: 28px;
  border-radius: 50%;
  background-color: #ffffff00;
  box-shadow: 0px 0px 0px 3px #FF00AA;
  transition: all 500ms ease 0s;
}

.instagram {
  color: #dd2a60;
  box-shadow: 0px 0px 0px 3px #dd2a60;
}

.facebook {
  color: #1b74e4;
  box-shadow: 0px 0px 0px 3px #1b74e4;
}

.telegram {
  color: #0f94ec;
  box-shadow: 0px 0px 0px 3px #0f94ec;
}

.github {
  color: #834180;
  box-shadow: 0px 0px 0px 3px #834180;
}

.youtube {
  color: #ff0000;
  box-shadow: 0px 0px 0px 3px #ff0000;
}

.bottom__icon:hover {
  color: white;
}

.bootom__about {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.bootom__about ul.footer__about {
  width: 120px;
  margin: 20px 20px;
}

.bootom__about ul>li {
  padding: 5px 0;
}

.bootom__about li>a:hover {
  color: #ccc;
}

.bootom__about a {
  color: white;
  font-size: 18px;
  font-family: sans-serif;
}

.bootom__about h2 {
  color: white;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}

.flex__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom__input {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.bottom__input input {
  margin: 10px;
  padding: 12px 10px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  border-radius: 18px;
  border: 1px solid #2ee1f1;
  background: none;
  transition: .4s;
}

.bottom__input input::-webkit-input-placeholder {
  color: white;
}

.bottom__input input:focus::-webkit-input-placeholder {
  color: #cccccc;
}